* {
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    cursor: pointer;
}

ul li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.left_fixedBlock {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 70px;
    border-right: 1px solid #f5f5f5;
}

.left_fixedBlock--menu,  .hamburger_menuHidden{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.hamburger .line{
  width: 30px;
  height: 3px;
  background-color: #0804fb;
  display: block;
  margin: 6px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}

#hamburger-3.is-active .line:nth-child(1),
#hamburger-3.is-active .line:nth-child(3){
  width: 18px;
}

#hamburger-3.is-active .line:nth-child(1){
  -webkit-transform: translateX(-8px) rotate(-35deg) translateY(4px);
  -ms-transform: translateX(-8px) rotate(-35deg) translateY(4px);
  -o-transform: translateX(-8px) rotate(-35deg) translateY(4px);
  transform: translateX(-8px) rotate(-35deg) translateY(4px);
}

#hamburger-3.is-active .line:nth-child(3){
  -webkit-transform: translateX(-8px) rotate(35deg) translateY(-4px);
  -ms-transform: translateX(-8px) rotate(35deg) translateY(-4px);
  -o-transform: translateX(-8px) rotate(35deg) translateY(-4px);
  transform: translateX(-8px) rotate(35deg) translateY(-4px);
}

.filter_clickMenu {
    display: none;
    position: absolute;
    top: 55px;
    text-align: right;
    z-index: 1;
}.filter_clickMenuJS {display: block;}

.filter_clickMenu a{
    color: rgba(205, 205, 205, 1);
    font-family: MetaPro-Book;
    transition: .2s;
}.filter_clickMenu ul li {
    padding: 2px;
    margin: 7px 0;
}.filter_clickMenu ul li a:hover{color: #0804fb;}

/*menu*/
.wrap_menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    left: -100%;
    z-index: 1;
    transition: 1.7s;
}

.wrap_menu .left_fixedBlock {
    position: absolute !important;
}

.wrap_menuJS {
    left: 0 !important;
    transition: 1.7s;
    z-index: 2;
}

.wrapper_listMenuJS {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items:center;
    height: 100%;
    margin-left: auto;
    width: 91.4%;
}

.wrap_listMenuJS ul li{
    font-size: 2.5em;
    padding: 3px 0;
    margin: 18px 0;
    opacity: 0;
    font-family: MetaSerifPro-Book;
    letter-spacing: 1px;
}

.wrap_listMenuJS .application_messageMenuJS_fontColor{color: #0804fb;}

.wrap_listMenuJS a{color: rgba(205, 205, 205, 1);transition: .2s;}
.wrap_listMenuJS a:hover{color: #0804fb;}

.listMenuJS_ul ul li{
    opacity: 1;
    transition: opacity 1.1s 1.4s;
}

.wrapper_addressesMenuJS {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 40%;
    justify-content: space-between;
    margin-left: 150px;
}

.wrap_adressMenu-one, .wrap_adressMenu-two{opacity: 0;transition: 1s;}

.wrapper_adressMenu {
    transition: 1.2s; 
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.anim_adressMenuJS {
    position: relative;
    transform: translateY(155%);
    transition: 1.2s !important; 
}

.wrapper_formMenuJS {
    position: absolute;
    top: 19%;
    opacity: 0;
    font-size: .99em;
    transition: 1.2s;
    z-index: -1000;
}

.anim_formMenuJS{
    top: 30%;
    transition: 1.2s;
    opacity: 1;
    z-index: 1;
}

.wrapper_formMenuJS p{font-family: MetaPro-Medium;font-size: 1.27em;}

.wrap_adressMenu-one, .wrap_adressMenu-two {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    font-family: MetaPro-Book;
    color: rgba(205, 205, 205, 1);
    line-height: 25px;
}

.wrap_adressMenu-one p:first-child, .wrap_adressMenu-two p:first-child {
    font-family: MetaPro-Medium;
    color: #151515;
}.wrap_adressMenu-two a{color: rgba(205, 205, 205, 1);transition: .2s;}
.wrap_adressMenu-two a:hover{color: rgb(8, 4, 251);}

.adressesMenuJS{
    opacity: 1 !important;
    transition: 1.1s 1.6s !important;
}.accountMenuJS {
    opacity: 1 !important;
    transition: 1.1s 1.9s !important;
}

.wrap_formMenuJS form{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 590px;
    flex-wrap: wrap;
    margin-top: 25px;
    justify-content: space-between;
}

input {
    resize: none;
    outline: 0;
    display: block;
}

.wrap_formMenuJS button {
    border: 1px solid #0804fb;
    color: #0804fb;
    outline: 0;
    transition: .2s;
    cursor: pointer;
    background: #fff;
    display: block;
    width: 282px;
    letter-spacing: .5px;
    font-family: MetaPro-Book;
    font-size: 100%;
}.wrap_formMenuJS button:hover{color: #fff;background: #0804fb;}

.wrap_formMenuJS input {
    width: 270px;
    height: 40px;
    border: 1px solid #cdcdcd;
    font-family: MetaPro-Book;
    padding-left: 10px;
    font-size: 100%;
    color: #151515;
}

.wrap_formMenuJS :first-child{
    margin-bottom: 25px;
}

::placeholder{
    color: #6d6d6d;
    transition: .33s;
}

input[type="text"]:focus::placeholder {
    opacity: .30;
}

/*______________________________________________________________________________________________*/












.wrapper_fullContent {
    margin-left: 71px;
}

.wrap_fullContentJS {
    display: none;
}

.wrap_filter {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    height: 70px;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    position: relative;
}

.wrapper_backgroundText {
    margin-top: 50px;
    overflow: hidden;
    background-image: url(../img/bg_text.png);
    height: 232px;
    background-repeat: no-repeat;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    background-position: center;
    padding-left: 74px;
}

.wrapper_backgroundText .wrap_text h1{font-size: 3.6em;color: #0804fb;font-family: MetaSerifPro-Book;letter-spacing: 1.3px;margin-bottom: 10px;}
.wrapper_backgroundText .wrap_text p{color: #cdcdcd;font-family: MetaPro-Medium;letter-spacing: .5px}

.wrapper_jobsItems {
    margin-top: 90px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.wrapper_jobsItems__hidden {
    display: none;
}

.wrapper_jobsItems > a {
    width: calc(100% / 3);
    position: relative;
}

.jobItem {
    width: 100%;
    height: 405px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
}


.wrapper_jobsItems a:hover .jobHover{
    opacity: .73;
    transition: .4s;
}
.jobHover{
    padding: 50px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #0804fb;
    opacity: 0;
}

.h3_job, .parag_job {
    font-family: MetaPro-Medium;
    color:  #fff;
    letter-spacing: 1.4px;
    position: relative;
}.parag_job {
    color: #aaa9ff;
}

.h3_job:after {
    content: '';
    width: 20px;
    height: 2px;
    background: #fff;
    display: block;
    position: absolute;
    bottom: -12px;
}

.job_show {
    font-family: MetaPro-Normal;
    position: absolute;
    bottom: 50px;
    right: 125px;
    color: #fff;
    letter-spacing: .3px;
}

.job_show:before {
    content: '';
    width: 60px;
    height: 1px;
    right: -70px;
    top: 50%;
    transform: translate(-50% 0);
    background: #fff;
    position: absolute;
}


/*________________________________________________________________________*/

.wraper_footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    background: #0804fb;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    width: 100%;
    font-family: MetaPro-Medium;
    color: #fff;
    letter-spacing: .5px;
    line-height: 25px;
}

.wraper_footer a{color: rgba(255, 255, 255, 0.63);}


.wrap_account {
    color: #cdcdcd;
    position: absolute;
    bottom: 55px;
    right: 50px;
    cursor: pointer;
    font-family: MetaPro-Medium;
    opacity: 0;
}.icon_account:hover{color: #000;}

.icon_account {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    width: 72px;
    transition: .2s;
    align-items: center;
}


