@media only screen and (min-width: 1910px) {
    body {
        font-size: 1.1em;
    }
}

@media only screen  and (max-width: 1280px) {
    body {
        font-size: .9em;
    }
    .wrapper_jobsItems > a {
    width: calc(100% / 2);
    }
}

@media only screen  and (max-width: 692px) {
    body {
        font-size: .8em;
    }
    .wrapper_jobsItems > a {
    width: calc(100% / 1);
    }
    .wrap_menu {
        left: -100%;
    }
    .wrapper_listMenuJS {
        flex-direction: column;
        text-align: center;
        width: auto;
        justify-content: center;
    }
    .wrapper_addressesMenuJS {
        width: 50%;
        justify-content: center;
        margin-left: 0;
    }
    .wrap_formMenuJS form {
        width: auto;
        flex-direction: column;
    }
    .wrapper_backgroundText {
        background-position: 0 0;
    }
    .wraper_footer {
        flex-direction: column;
        font-size: 1.2em;
        text-align: center;
    }
    .wrap_footer {
        justify-content: space-around;
        width: calc(100% / 1);
    }
    .wrap_formMenuJS button {
        height: 42px;
    }
    .wrap_formMenuJS input {
        margin-bottom: inherit;
    }
    .listMenuJS_ul {
        position: relative;
        top: -110px;
    }
    .anim_formMenuJS {
        top: 55%;
    }
    .wrap_menu {
        position: absolute;
    }
    .anim_adressMenuJS {
        transform: translateY(485%);
        margin-bottom: 40px;
    }
    .wrapper_formMenuJS {
        position: absolute;
    }
}
















































